
.bookmark_btn {
  background-color: darkblue;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 7px;
}

/* Darker background on mouse-over */
.bookmark_btn:hover {
  background-color: RoyalBlue;
}


.col_50 {
  float: left;
  width: 50%;
}
  
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col_50, .col_50, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}